html, body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%
}


#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover
}


@media screen and (min-width:769px){
    #desktop-content {display: block;}
    #mobile-content {display: none;}
}

@media screen and (max-width: 768px) {
    #mobile-content {display: block;}    
    #desktop-content {display: none;}
}