html, body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: aliceblue;
}


#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    margin: 5%;
    margin-top: 0%;
    height: 80%;
    width: 90%;
    object-fit: cover;
    border-radius: 25px;
}

#mic-button{
    height: 10%;
    width: inherit;
    background-color: lightgrey;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 20px;
}

#chat-button{
    height: 10%;
    width: inherit;
    background-color: lightgrey;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 20px;
}

#close-button{
    height: 10%;
    width: inherit;
    background-color: lightgrey;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    border-radius: 20px;
}

#chat-window {
    display: none;
}

#camera-window{
    display: block;
}

h1{
    align-self: center;
}

#chat-box{
    position: fixed;
    overflow: scroll;
    margin: 5%;
    margin-top: 0%;
    height: 80%;
    width: 90%;
    object-fit: cover;
    background-color: white;
    border-radius: 25px;
}

#index0 {
    text-align: right;
    padding: 1vw;
    margin-left: auto;
    background-color: blue;
    border-radius: 15px;
     max-width: 80%; 
    width: fit-content;
}

#index1 {
    text-align: left;
    padding: 1vw;
    margin-right: auto;
    background-color: green;
    border-radius: 15px;
     max-width: 80%; 
    width: fit-content;
}

@media screen and (min-width:769px){
    #desktop-content {display: block;}
    #mobile-content {display: none;}
}

@media screen and (max-width: 768px) {
    #mobile-content {display: block;}    
    #desktop-content {display: none;}
}